<div class="p-grid p-dir-col p-justify-center p-align-center">
    <ng-container *ngIf="userCalling">
        <div class="p-col p-col-align-stretch card p-fluid p-p-5">
            <h2>{{userCalling.username}} is calling...</h2>
            <div class="p-grid">
                <div class="p-col-6">
                    <button pButton pRipple type="button" class="p-button-success" label="Accept" (click)="acceptCall()"></button>
                </div>
                <div class="p-col-6">
                    <button pButton pRipple type="button" class="p-button-danger" label="Reject" (click)="rejectCall()"></button>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="p-col p-col-align-stretch card p-fluid p-p-5">
        <div class="p-grid p-justify-between">
            <div class=" p-col-8">
                <h3>
                    Room : ({{this.user?.label}}-{{socketService.peerUser?.username}})
                </h3>
            </div>
            <div class="p-col-2 p-p-2 ">
                <button pButton pRipple type="button " class="p-button-danger " label="End " (click)="endCall() "></button>
            </div>
        </div>
    </div>
    <div class="p-col p-col-align-stretch card p-fluid p-p-5 ">
        <div class="p-grid p-justify-center">
            <div>
                <video #theirStream></video>
            </div>
            <div>
                <video #myStream></video>
            </div>
        </div>
    </div>
</div>