<div class="p-grid p-justify-center p-align-center ">

    <p-card header="Enter your username" [style]="{'width': '35rem', 'margin-bottom': '2em'}">
        <div class="p-fluid p-formgrid p-grid ">
            <div class="p-field p-col-8">
                <label for="username" class="p-sr-only">Firstname</label>
                <div class="p-input-filled">
                    <input id="username" [(ngModel)]="username" class="p-inputtext-sm" type="text" pInputText placeholder="Username">
                </div>
                <!-- <small id="username-help">* Username is already taken.</small> -->
            </div>
            <div class="p-field p-col-4">
                <button pButton pRipple type="button" label="Submit" [disabled]="!username&&!registering" (click)="register()"></button>
            </div>
        </div>
    </p-card>
    <p-card header="Online users, ({{socketService.username}})" [style]="{'width': '35rem', 'margin-bottom': '2em'}">
        <p-listbox [options]="users" [(ngModel)]="selectedUser" [listStyle]="{'max-height':'400px'}" (onClick)="onUserSelect($event)">
            <ng-template let-user pTemplate="item">
                <div class="p-grid p-fluid">
                    <div class="p-col-fixed" style="width:35px;"><i class="pi pi-wifi"></i>
                    </div>
                    <div class="p-col">{{user.label|uppercase}} , {{user.value.status|uppercase}}</div>
                </div>
            </ng-template>
            <p-footer style="height: 20px;">
                <div class="p-grid" style="padding-top: 10px;">
                    <div class="p-text-center p-col p-text-bold">
                        Selected User: {{selectedUser?.username||'none'}}
                    </div>
                </div>
            </p-footer>
        </p-listbox>
    </p-card>
</div>